###############################################################################################
# Este archivo está pensado para ser copiado con el nombre `.env` y ser usado en producción.  #
# Es necesario entregar los valores reales a cada una de las variables definidas abajo        #
# antes de levantar los contenedores de la aplicación para que funcione correctamente.        #
###############################################################################################

# URL que apunta al planner para Caddy.
# --> ejemplo: "https://plan.ing.puc.cl"
PLANNER_URL="https://mallastest.ing.uc.cl"

# URL del servidor de autenticacion CAS.
# --> ejemplo: "https://sso.uc.cl/cas/"
# El slash al final es importante.
VITE_CAS_SERVER_URL=https://sso.uc.cl/cas/

# No debería ser necesario modificar esta variable.
VITE_BASE_API_URL="/api"

# No debería ser necesario modificar esta variable.
BACKEND_API_URL="http://api:8000"

# Ocultar las opciones para hacer login
# Usado previo a la habilitación del SSO
VITE_HIDE_LOGIN = "false"

# Don't remove
NODE_ENV="staging"
