###############################################################################################
# Este archivo está pensado para ser copiado con el nombre `.env` y ser usado en producción.  #
# Es necesario entregar los valores reales a cada una de las variables definidas abajo        #
# antes de levantar los contenedores de la aplicación para que funcione correctamente.        #
#                                                                                             #
# Nota para los desarrolladores:                                                              #
# La idea es que este archivo sea completamente estático, ya que será manejado por la         #
# universidad directamente en la máquina de producción. Por esta razón, solo debe ser usado   #
# para definir secretos. Cualquier otra variable (e.g. URL de la bbdd) se ingresa a nivel de  #
# código para poder ser modificada con un commit al repo.                                     #
# En particular, las variables del backend usadas en código se definen como predeterminadas   #
# en el archivo `settings.py`, mientras que Las variables necesarias para levantar los        #
# contenedores van en el archivo `.env.default`.                                              #
###############################################################################################

# RUT del administrador.
# Es único y tiene el poder de añadir y remover moderadores.
# Si se deja vacío no existirá administrador.
# --> ejemplo: "12345678-K"
# ADMIN_RUT=""

# Secreto para generar y verificar tokens JWT.
# ADVERTENCIA: Si este secreto se filtra cualquier persona podría forjar tokens de autorización
# para cualquier usuario!
# JWT_SECRET="mal secreto, REEMPLAZAR ESTO por un buen secreto."

# Credenciales para utilizar el webservice de Siding.
# SIDING_USERNAME="<usuario de siding>"
# SIDING_PASSWORD="<contrasena de siding>"
