[tool.poetry]
name = "tigerpath-api"
version = "0.1.0"
description = ""
authors = ["Open Source UC <hello-world@osuc.dev>"]
license = "GPLv3"
readme = "readme.md"
packages = [
    {include = "app"}
]

[tool.poetry.dependencies]
python = "^3.11"
fastapi = {extras = ["all"], version = "^0.88.0"}
prisma = {git = "https://github.com/RobertCraigie/prisma-client-py.git", rev = "refactor/remove-pkg-cli"}

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
black = "^22.10.0"
isort = "^5.10.1"
tomli = "^2.0.1"
pyright = "^1.1.282"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pyright]
pythonVersion = "3.11"
pythonPlatform = "Linux"
typeCheckingMode = "strict"
stubPath = ""

# Rules
# https://github.com/tiangolo/fastapi/issues/4487
