{$PLANNER_URL} {
	handle /* {
		root * /srv
		file_server
		# This acts as the index file (SPA)
		try_files {path} /index.html
		# Enable compression
		encode zstd gzip
		# Normal files are cached for an hour
		header Cache-Control "public,max-age=3600"
		# Assets have a version tag, so they're immutable
		# they're cached for a year
		header /assets/* Cache-Control "public,max-age=31536000,immutable"
	}
	# The handle_path performs path rewriting 
	# to strip the /api prefix
	handle_path /api/* {
		reverse_proxy api:80
	}

	# Security headers
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
		X-Frame-Options DENY
		Content-Security-Policy "frame-ancestors 'none'"
	}


	# Health check
	respond /health 200 "OK"

	# Teapot
	respond /teapot 418 "I'm a teapot"

}
