{$PLANNER_URL} {
	handle /* {
		root * /srv
		file_server
		# This acts as the index file (SPA)
		try_files {path} /index.html
		# Enable compression
		encode zstd gzip
	}
	
	# The handle_path performs path rewriting 
	# to strip the /api prefix
	handle_path /api/* {
		reverse_proxy api:8000
	}

	# Health check
	handle_path /health {
		respond 200 "OK"
	}

	# Teapot
	handle_path /teapot {
		respond 418 "I'm a teapot"
	}
}
