@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer components {
  .curriculumSelector {
    @apply w-full mb-3 mt-2 relative;
  }
  .curriculumSelector .selectorElement{
    @apply inline-block ml-3 mr-5 font-semibold;
  }
  .curriculumSelector .selectorElement .selectorName{
    @apply text-sm inline mr-1 font-normal;
  }
  .curriculumSelector .selectorElement .selectorButton{
    @apply text-base pl-1 pr-10 text-left;
  }
  .curriculumSelector .selectorElement .curriculumOptions {
    @apply absolute mt-1 max-h-96 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
  }
  .curriculumSelector .selectorElement .curriculumOptions .curriculumOption{
    @apply relative cursor-default select-none py-1.5 pl-8 pr-4 ;
  }

  .card {
    background-color: #D8D8D8;
    height: 90px;
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.1');
    box-shadow: theme('boxShadow.lg');
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .CurriculumTable{
    overflow-y: overlay;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .btn{
    @apply font-semibold py-1 px-4 rounded;
    @apply  text-white;
    background-color: #3D4451;
  }

  .btn-blue::hover {
    background-color: #25282D;
  }
}

.animated {
  animation: opacity-animation 1s infinite alternate;;
}

@keyframes opacity-animation {
  5% {
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}

.CienciasBasicas{
  background-color: #93F6E8; /*#FFC840*/
}

.BaseGeneral{
  background-color: #93F6E8; /*#48A6D0*/
}

.FormacionGeneral{
  background-color: #355484; /*#483D8B*/
  color: white;
}

.Major{
  background-color: #B3A9E4; /*#F74F23*/
}

.Minor{
  background-color: #13CDB2; /*#32CD33*/
}
.titulo{
  background-color: #9966CC;
}

.hover-text {
  position: relative;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 14px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  top: -8px;
  left: 120%;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #192733;
  padding: 5px;
  z-index: 1;
  top: 25%;
  left: -2%;
}

