@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='siding'] {
    --blockPC: #FEC60D;
    --placeHolder: #ebeba8;
    --titulo: #9966CC;
    --major: #F74F23;
    --minor: #32CD33;
    --blockFG: #355484;
    --plus: #D8D8D8;
    --otro: #D8D8D8;
  }

  html[data-theme='MVP'] {
    --blockPC: #93F6E8;
    --placeHolder: #ebeba8;
    --titulo: #9966CC;
    --major: #B3A9E4;
    --minor: #13CDB2;
    --blockFG: #355484;
    --plus: #D8D8D8;
    --otro: #D8D8D8;
  }

  html[data-theme='default'] {
    --blockPC: #FEC60D;
    --placeHolder: #ebeba8;
    --titulo: #93F6E8;
    --major: #13CDB2;
    --minor: #B3A9E4;
    --blockFG: #355484;
    --plus: #D8D8D8;
    --otro: #D8D8D8;
  }

  html[data-theme='dark'] {}

  html[data-theme='light'] {}
}

@layer components {
  .curriculumSelector {
    @apply w-full mb-3 mt-2 relative;
  }

  .curriculumSelector .selectorElement {
    @apply inline-block ml-3 font-semibold;
  }

  .curriculumSelector .selectorElement .selectorName {
    @apply text-sm inline mr-1 font-normal;
  }

  .curriculumSelector .selectorElement .selectorButton {
    @apply text-base pl-1 pr-1 text-left;
  }

  .curriculumSelector .selectorElement .curriculumOptions {
    @apply fixed mt-1 max-h-96 flex flex-col rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
  }

  .curriculumSelector .selectorElement .curriculumOptions .curriculumOption {
    @apply relative cursor-default select-none py-1.5 pl-8 pr-4;
  }

  .card {
    height: 90px;
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.1');
    box-shadow: theme('boxShadow.md');
    /*box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.18);*/
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .darkBlue {
    background-color: #00345E;
    /*#3D4451*/
  }

  .btn {
    @apply font-semibold py-2 px-4 rounded;
    @apply text-white;
    background-color: #3D4451;
  }

  .btn:hover {
    background-color: #2C353F;
  }

  .btn-blue::hover {
    background-color: #25282D;
  }
}

.modal {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  @apply z-50;
}

.animated {
  /*transform: rotateZ(360deg);*/
  animation: opacity-animation 1s infinite alternate;
}

@keyframes opacity-animation {
  5% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.hover-text {
  position: relative;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 14px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  top: -8px;
  left: 120%;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #192733;
  padding: 5px;
  z-index: 1;
  top: 25%;
  left: -2%;
}

.autofix {
  display: block;
  background-color: #0002;
  border-radius: 4px;
  margin-top: 0.25em;
  margin-left: 1em;
  padding: 0.25em;
}

.autofix:hover {
  background-color: #0003;
}

.autofix:active {
  background-color: #0005;
}