[
    {
        "name": "testuser",
        "attributes": {
            "mail": "testuser@email.com",
            "carlicense": "012345678-K"
        }
    },
    {
        "name": "user1",
        "attributes": {
            "mail": "user1@email.com",
            "carlicense": "011111111-1"
        }
    },
    {
        "name": "user2",
        "attributes": {
            "mail": "user2@email.com",
            "carlicense": "022222222-2"
        }
    },
    {
        "name": "user3",
        "attributes": {
            "mail": "user3@email.com",
            "carlicense": "033333333-3"
        }
    },
    {
        "name": "user4",
        "attributes": {
            "mail": "user4@email.com",
            "carlicense": "044444444-4"
        }
    },
    {
        "name": "empty2019",
        "attributes": {
            "mail": "empty2019@email.com",
            "carlicense": "2019-9"
        }
    },
    {
        "name": "empty2021",
        "attributes": {
            "mail": "empty2021@email.com",
            "carlicense": "2021-1"
        }
    },
    {
        "name": "empty2022",
        "attributes": {
            "mail": "empty2022@email.com",
            "carlicense": "2022-2"
        }
    }
]
